services:
  web:
    image: ghcr.io/drewreeve/rlstats:latest
    ports:
      - "8080:8080"
    read_only: true
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev,size=64m
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    user: "1000:1000"
    volumes:
      - ./db:/app/db
      - ./replays:/app/replays
