[project]
name = "rlstats"
version = "0.1.0"
description = "Personal project for tracking our RL teams' stats"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
